@model IEnumerable<WebChat.Areas.Identity.Data.AppUser>
<link rel="stylesheet" type="text/css" href="~/css/site.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<div class="center_horizontally">
    <p id="title">Chat</p>
</div>
<div id="chat_container" class="center_horizontally">
    <div id="chat_box">
        <ul id="messages"></ul>
    </div>
</div>
<div id="input_container" class="center_horizontally">
    <input id="input_box" type="text" />
</div>
<div id="members" class="center_horizontally">
    @{
        int iter = 0;
        foreach (var item in Model)
        {
            iter++;
            @:<p id=@item.UserName>@item.UserName<span id="@iter">, </span> </p>
        }
        <script>s
            $("@iter").text = "";
        </script>
    }
</div>
    <script>
        @{
            foreach (var item in Model)
            {
                @:var id = "@item.UserName";
                @:var colour = "@item.Colour";
                @:$(("#" + id)).css("color", colour);
            }
        }
    </script>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>